In [25]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [26]:
df = pd.read_csv('lung_cancer.csv')
df.head()

      pid  age gender   race   smoker  days_to_cancer stage_of_cancer
0  100001   70   Male  White  Current             NaN             NaN
1  100002   66   Male  White  Current             NaN             NaN
2  100003   64   Male  White  Current             NaN             NaN
3  100004   60   Male  White   Former             NaN             NaN
4  100005   64   Male  White   Former             NaN             NaN

In [27]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53427 entries, 0 to 53426
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pid              53427 non-null  int64
 1   age              53427 non-null  int64
 2   gender           53427 non-null  object
 3   race             53166 non-null  object
 4   smoker           53427 non-null  object
 5   days_to_cancer   2033 non-null   float64
 6   stage_of_cancer  2032 non-null   object
dtypes: float64(1), int64(2), object(4)
memory usage: 2.9+ MB

In [28]:
df = df[(df['days_to_cancer'].isna() == False) & (df['stage_of_cancer'].isna() == False)]
df

          pid  age  gender   race   smoker  days_to_cancer stage_of_cancer
11     100012   61  Female  White  Current           454.0              IA
48     100049   74  Female  White  Current          2428.0             IIB
54     100055   67    Male  White   Former           148.0              IV
146    100147   68    Male  White   Former           491.0              IA
157    100158   65    Male  White   Former           795.0              IA
...       ...  ...     ...    ...      ...             ...             ...
53356  218824   60  Female  White   Former            27.0              IB
53366  218834   69  Female  White  Current            71.0              IA
53370  218838   56    Male  White  Current          1077.0              IV
53405  218873   61    Male  White   Former          1632.0              IV
53418  218886   57  Female  White   Former          2144.0              IA

[2032 rows x 7 columns]

In [29]:
df = df.drop(columns="pid")
df.head()

     age  gender   race   smoker  days_to_cancer stage_of_cancer
11    61  Female  White  Current           454.0              IA
48    74  Female  White  Current          2428.0             IIB
54    67    Male  White   Former           148.0              IV
146   68    Male  White   Former           491.0              IA
157   65    Male  White   Former           795.0              IA